# used for contract verification - sign up for an account at https://explorer.testnet.immutable.com and get an API key
BLOCKSCOUT_API_KEY_TESTNET=

# used for contract verification - sign up for an account at https://explorer.immutable.com and get an API key
BLOCKSCOUT_API_KEY_MAINNET=

# private key for the deployer account
PRIVATE_KEY=